@use 'styles/library'

.Footer
  font-size: 1rem
  display: flex
  padding: 1.5vw
  color: white
  width: 100%
  background-color: library.$color_prussianblue

.InfoWrapper
  display: flex
  justify-content: space-between
  width: 60%

.NameProject
  font-size: 1rem

.AboutUs
  font-size: 1rem
  font-weight: 700

.AboutUs > * + *
  margin-top: .5em
  font-weight: 300

.FAQ
  font-weight: 700
  font-size: 1rem

.FAQ > * + *
  margin-top: .5em
  font-weight: 300
