@use 'styles/library'

.Footer
  font-size: 1rem
  display: flex
  border-top: 1px solid library.$color_main-grey
  padding: 3em 0 3em 3em
  color: library.$color_powderblue
  width: 100%
  height: 100%
  background-color: rgb(20,20,23)

.InfoWrapper
  display: flex
  justify-content: space-between
  width: 60%

.NameProject
  font-size: 1.6rem
  font-weight: bold

.AboutUs
  font-size: 1rem
  font-weight: 700

.AboutUs > * + *
  margin-top: .75em
  font-weight: 300

.FAQ
  font-weight: 700
  font-size: 1rem

.FAQ > * + *
  margin-top: .75em
  font-weight: 300

.FooterTitle
  margin-bottom: 1em

@media (max-width: 100em)

@media (max-width: 65em)
  .InfoWrapper
    width: 80%

@media (max-width: 42em)
  .InfoWrapper
    flex-direction: column
    justify-content: space-between
    width: 100%

  .InfoWrapper > * + *
    margin-top: 1em

  .NameProject
    margin-bottom: 1em

  .AboutUs
    display: flex

  .AboutUs > * + *
    margin-top: 0
    margin-left: 1em

  .FAQ
    display: flex

  .FAQ > * + *
    margin-top: 0
    margin-left: 1em

@media (max-width: 20em)
  .Footer
    padding: 2em 0 2em 2em