@use 'styles/library'

.ProductPagination
  font-size: 1rem
  width: 100%

.PaginationStuckNumber
  margin: 0
  display: flex
  justify-content: center
  list-style: none
  padding: 1vw 1vw 0

.PaginationStuckNumber > * + *
  margin-left: .5vw

.PaginationNumberButton
  font-size: 1.5rem
  width: 1.5em
  height: 1.5em
  display: flex
  border-radius: .25em
  justify-content: center
  background-color: white
  align-items: center
  color: library.$color_main-grey

  &:hover
    text-decoration: underline


.NumberButtonActive
  background-color: library.$color_imperial-red

.StuckButtons
  display: flex
  justify-content: center
  padding: 1em
  width: 100%

.StuckButtons > *
  font-size: 1rem
  width: 20%
  padding: .5em
  border-radius: .25em
  margin: 0 1vw
  background-color: library.$color_dark-background
  color: library.$color_powderblue
  &:hover
    background-color: library.$color_main-grey-without-opacity