@use 'styles/library'

.HelpPanel
  color: white
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  font-size: 1rem
  padding: 2em 2em 1.5em

.SortBar
  font-size: 1.2rem
  position: relative
  display: flex
  margin-top: -.5em

.TogglePanel
  cursor: pointer
  background-color: rgba(230, 230, 230, .1)
  border-radius: .25em
  transition: all .3s ease-out
  padding: .5em 1em
  width: 100%

.TogglePanelIsOpen
  background-color: rgba(0, 0, 0, .84)
  border-radius: .25em .25em 0 0

.Arrow
  //font-size: 1.2rem
  //line-height: .5
  margin-left: .5em
  //transition: all .3s ease-out

.StuckList
  position: absolute
  z-index: -1
  opacity: 0
  top: 100%
  left: 0
  background-color: rgba(0, 0, 0, .84)
  padding: 1em 0
  border-radius: 0 0 .25em .25em
  width: 100%
  transition: all .3s ease-out

.StuckList > *
  cursor: pointer
  padding: .5em 1em
  border-bottom: 1px solid rgba(150, 150, 150, .1)

.VariantName
  display: flex
  flex-direction: row
  align-items: center
  color: rgba(150, 150, 150, .7)
  transition: all .3s ease-out
  &:hover
    background-color: rgba(200, 200, 200,.1)

.VariantName > svg
  position: relative
  z-index: -1
  margin-left: .5em
  fill: rgba(150, 150, 150, .7)
  width: .7em
  height: .7em
  transition: all .3s ease-out

.VariantNameIsSelected
  font-weight: 700
  color: white

.VariantNameIsSelected > svg
  fill: white

.ArrowRotate > svg
  transform: rotate(-180deg)

.Open
  z-index: 50
  opacity: 1