$color_main-grey: rgba(15, 15, 15, .75) !default
$color_main-grey-without-opacity: rgba(75, 75, 75, 1) !default
$color_imperial-red: #E63946 !default
$color_honeydew: #F1FAEE !default
$color_powderblue: #A8DADC !default
$color_celadonblue: #457B9D !default
$color_prussianblue: #1D3557 !default
