@use 'styles/library'

.ProductNav
  position: relative
  position: sticky
  top: 0
  left: 0
  display: flex
  flex-direction: row
  z-index: 15
  justify-content: center
  width: 100%
  background-color: rgb(20,20,23)
  border-bottom: 1px solid library.$color_main-grey
  border-top: 1px solid library.$color_main-grey

.Path
  font-family: 'Montserrat', Roboto, serif
  font-weight: 400
  color: library.$color_honeydew
  background-color: rgba(0, 0, 0, 0)
  text-align: left
  font-size: 1rem
  transition: all .3s ease-out
  padding: 1.5em 2em

  &:hover
    background-color: library.$color_main-grey-without-opacity

.PathActive
  background-color: library.$color_imperial-red
  color: white
  &:hover
    background-color: library.$color_imperial-red

.WrapperPathBtn

.Menu
  position: absolute
  top: calc(50% - 1.5em)
  left: 1em
  width: 5em
  height: 3em
  font-size: 1em
  font-family: 'Montserrat', Roboto, serif
  font-weight: 400
  color: white
  border-radius: .25em
  padding: 0 1em
  line-height: 1
  background-color: library.$color_imperial-red

@media (max-width: 42em)
  .ProductNav
    justify-content: space-between
    padding: 0 1em

  .Menu
    position: static
    margin-top: auto
    margin-bottom: auto

@media (max-width: 20em)
  .Path
    padding: 1.25em 1em