@use 'styles/library'

.ProductNav
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%
  background-color: rgb(20,20,23)
  border-bottom: 1px solid library.$color_main-grey

.ref
  font-family: 'Montserrat', Roboto, serif
  font-weight: 400
  color: library.$color_honeydew
  background-color: rgba(0, 0, 0, 0)
  text-align: left
  font-size: 1rem
  transition: all .3s ease-out
  padding: 1.5em 2em

  &:hover
    background-color: library.$color_main-grey-without-opacity